html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #b1b1bb;
}

.header {
    width: 100%;
    height: 10%;
    background-color: #061936;
    position: fixed;
    min-height: 3em;
    text-align: center;
    z-index: 1;
}

#input {
    width: 80%;
    height: 100%;

    position: absolute;
    left: 10%;
    top: 12%;
    z-index: 0;

    color: #030303;
    font-size: 70px;
    font-family:Comic Sans MS, Comic Sans, cursive;
    padding: 20px;

    background-color:transparent;
    
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}

#main {
    width: 100%;
    height: 100%;
    text-align: center;
}

.striped-border { 
    border: 1px dashed #000;
}

#printContent {
    width: 8.5in;
    height: 11.5in;
    padding: 0.8in 0.7in 0in 0.7in;
}

.header-btn {
    width: 33%;
    height: 100%;
    background-color: #041227;
    color: white;
    font-size: 24pt;
    border: none;
    transition: background-color 1s;
    float: right;
}

.header-btn:hover {
    background-color: #062047;
    transition: background-color 1s;
}

.header-text {
    float:left;
    color: lightgrey;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

header > .header-text {
    font-size: 60px;
    font-size: 3vh;
    position: absolute;
    top: 50%;
    left: 1%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header-btn-wrapper > .header-text {
    /* display: inline; */
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13%;
}

.header-btn-wrapper {
    height:100%;
    width:30%;
    float: right;
}

